.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    width: 100%;
}

.mySwiper {
    @apply mt-4;
    height: 20%;
    /*box-sizing: border-box;*/
    /*padding: 10px 0;*/
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    /*border: 1px solid gray;*/
    padding: 4px;
    border-radius: 8px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    padding: 0;
    border: none;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}